* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
  background: #ddd;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.item i {
  width: 3rem;
  border-radius: 0.5rem;
}
.item button {
  border-radius: 0.5rem;
  width: 4rem;
  height: 1.8rem;
  margin: 0 auto;
}
.item input {
  width: 15rem;
  height: 1.5rem;
  border: 2px solid #000;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 1rem;
}
.resultado {
  width: 40rem;
  justify-content: center;
  border-radius: 1rem;
  border: 2px solid #000;
  height: 15rem;
  background: #fff;
  display: none;
  gap: 15px;
  padding: 15px;
}
.concluir {
  padding: 0.35rem;
  border-radius: 4px;
  border: 1px solid green;
  background-color: greenyellow;
  font-weight: bold;
  font-size: 12px;
}
.concluido {
  background: green;
  opacity: 0.8;
  border-radius: 20px;
}
.remover {
  padding: 0.35rem;
  border-radius: 4px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  background-color: red;
  font-size: 12px;
}
.tarefaAdicionada {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
}
